$defaultWhite:#fff;
$defaultBlack:#000;
$defaultRed:#FF0000;


//basic colors
// $basicColor1:#b8e4f9;
// $basicColor2:#e8e7f6;
// $basicColor3:#910800;
// $basicColor4:#c72b00;
// $basicColor5:#f5a703;

$basicColor1:#773344;
$basicColor2:#e8e7f6;
$basicColor3:#495d63;
$basicColor4:#629677;
$basicColor5:#D74E09;

$basicColorPart1:#f8f7ff;


