$defaultWhite:#fff;
$defaultBlack:#000;
$defaultRed:#FF0000;


//basic colors
// $basicColor1:#b8e4f9;
// $basicColor2:#e8e7f6;
// $basicColor3:#910800;
// $basicColor4:#c72b00;
// $basicColor5:#f5a703;

$basicColor1:#773344;
$basicColor2:#e8e7f6;
$basicColor3:#495d63;
$basicColor4:#629677;
$basicColor5:#D74E09;


$basicColorPart1:#f8f7ff;
$basicColorPart2:#f1f1f1;
$basicColorPart3:#a0b7a9;
$basicColorPart4:#dfdada;
$basicColorPart5:#ddd;
$basicColorPart6:#4e8169;
$basicColorPart7:#f1cc55;
$basicColorPart8:#e96f7a;
$basicColorPart9:#ffc800;
$basicColorPart10: #21b56f;
$basicColorPart11:#d53f4d;
$basicColorPart12:#3c5449;


